In [1]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i+1): # For column
        print(j)

enter the value os rows: 5
1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [2]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i+1): # For column
        print(j, end=" ") # it end replaces n

enter the value os rows: 5
1 1 2 1 2 3 1 2 3 4 1 2 3 4 5

In [3]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i+1): # For column
        print(j, end=" ") # it end replaces n 
    print()

enter the value os rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i+1): # For column
        print(i, end=" ") # it end replaces n 
    print()

enter the value os rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i+1): # For column
        print("*", end=" ") # it end replaces n 
    print()

enter the value os rows: 5
*
* *
* * *
* * * *
* * * * *

In [6]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i*1): # For column
        print("i", end=" ") # it end replaces n 
    print()

enter the value os rows: 5

*
* *
* * *
* * * *

In [7]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i*1): # For column and changed from + to * 
        print("i", end=" ") # it end replaces n 
    print()

enter the value os rows: 5

i
i i
i i i
i i i i

In [8]:
rows=int(input("enter the value os rows: "))
for i in range(1,rows+1): # For row 
    for j in range(1,i*1): # For column
        print("j", end=" ") # it end replaces n 
    print()

enter the value os rows: 5

j
j j
j j j
j j j j